
<h1 class= 'bg-primary'>Welcome Hari</h1>

<div>{{ subTitle }}</div>

<div [ngStyle]='{color:colorVal}'>
    This is example of attribute directive!

</div>

<p [innerHTML]='subTitle1'></p>
<!-- 
<h4>Let us try event binding!</h4>

<button (click)='showAlert()'>Click Me</button>


<h3>Let us two way binding!</h3>

<h1 class='c1'>{{ title }}</h1>

<input [(ngModel)]='username'/>

<div>{{ username }}</div>
<br>
<div *ngIf="showMsg; then showThenMsg else showElseMsg">Show Message</div>
<ng-template #showThenMsg>Show Then Message</ng-template>
<ng-template #showElseMsg>Show Else Message</ng-template>

<br>
<br>
<div *ngIf= "success_msg; then updated_msg; else error_msg" style= "background-color:forestgreen">
    Structural Directive ngIf
</div>

<ng-template #updated_msg>
    Structural Directive ngIf then else 
</ng-template>

<ng-template #error_msg>
    Structural Directive ngIf else 
</ng-template>

<div class="container">
<h3> list of users </h3>

<ul *ngFor = "let user of users">

    <li>{{ user }}</li>
</ul>

</div> -->

<div [ngStyle]= "{ 'background-color': 'green' } ">

    Hari is learning ngStyle!

</div>
<br>
<div [ngClass]="'one'">
    Learning ngClass
</div>

<router-outlet></router-outlet>